.side-nav {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 95px 15px 30px 15px;
    background: #0d6efd;
    /* background: #7163ba; */
}
nav {
    z-index: 1;
}
ul {
    list-style: none;
    padding: 0 5px;
}
ul li {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 2px 0;
}
.side-nav li:hover, .active{
    background: #e0e0e085;
    border-radius: 5px;
}
a {
    color: #000;
    text-decoration: none;
}
.side-nav li a {
    color: #fff;
    width: 100%;
}
main {
    margin-left: 300px;
}
.tabelhed {
    border: 1px solid #0000002d;
    border-radius: 5px;
    padding: 10px;
}
.reload-btn {
    border: 1px solid #dee2e6;
    border-radius: 4px;
    background-color: transparent;
    color: #436be2;
    text-decoration: none;
    padding: 6px 9px;
}
.search-btn {
    border: 1px solid #dee2e6;
    padding-right: 10px;
    background-color: transparent;
}
.pagination li {
    padding: 0;
}
.fe {
    font-size: 0.9rem;
}
.fe-eye {
    color: #436be2;
}
.fe-edit {
    color: #42c712cc;
}
.fe-trash-2 {
    color: #ff0000;
}